@page
@model HotelManagementSystem.Pages.Secured.Rooms.IndexModel
@{
    ViewData["Title"] = "Rooms";
}




<div class="container">
    <div class="row">
        <div class="col-8">
            <h6 class="mb-0">Rooms Listing</h6>
        </div>
        <div class="col text-right">
            <a class="btn btn-sm btn-primary px-3" asp-area="" asp-page="/Secured/Rooms/Create">add room</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr class="dropdown-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Floor Number</th>
                        <th>Room Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Room in @Model.Rooms)
                    {
                    <tr>
                        <td>@Room.RoomCategory.Name</td>
                        <td>@Room.FloorNumber</td>
                        <td>@Room.RoomNumber</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a class="text-capitalize btn btn-sm px-3 btn-danger" asp-area="" asp-page="/Secured/Rooms/Delete" asp-route-id="@Room.Id">delete</a>
                                <a class="text-capitalize btn btn-sm px-3 btn-info" asp-area="" asp-page="/Secured/Rooms/Update" asp-route-id="@Room.Id">edit</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class=""></div>
    </div>
</div>

