@page
@using HotelManagementSystem.Models;
@model HotelManagementSystem.Pages.Secured.Rooms.Category.IndexModel
@{
    ViewData["Title"] = "Room Categories";
}



<div class="container">
    <div class="row">
        <div class="col-8">
            <h6>Room Categories Listing</h6>
        </div>
        @if(User.IsInRole(UserRole.SYSTEM_ADMINISTRATOR.ToString().ToLower()))
        {
            <div class="col text-right">
                <a class="btn btn-sm btn-primary px-3" asp-area="" asp-page="/Secured/Rooms/Category/Create">add room category</a>
            </div>
        }
    </div>
    <div class="row">
        <div class="col">
            <hr class="dropdown-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost Per Night</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in @Model.RoomCategories)
                    {
                    <tr>
                        <td>@category.Name</td>
                        <td>₦ @Convert.ToDecimal(category.CostPerNight).ToString("#,##0.00")</td>
                        <td class="text-right">
                            @if(User.IsInRole(UserRole.SYSTEM_ADMINISTRATOR.ToString().ToLower()))
                            {
                            <div class="btn-group">
                                <a class="text-capitalize btn btn-sm px-3 btn-danger" asp-area="" asp-page="/Secured/Rooms/Category/Delete" asp-route-id="@category.Id">delete</a>
                                <a class="text-capitalize btn btn-sm px-3 btn-info" asp-area="" asp-page="/Secured/Rooms/Category/Update" asp-route-id="@category.Id">edit</a>
                            </div>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class=""></div>
    </div>
</div>