@page
@model MyApp.Namespace.EmployeesModel
@{
    ViewData["Title"] = "Employees";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <span class="h6">Employees</span>
        </div>
        <div class="col text-right">
            <a asp-area="" asp-page="/Secured/Employees/Create" class="btn btn-sm px-3 btn-primary">add employee</a>
        </div>
    </div>
    <hr class="dropdown-divider" />
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Fullname</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Employee in Model.Employees)
                    {
                    <tr>
                        <td>
                            <span>@Employee.UserName</span>
                        </td>
                        <td>
                            <span>@Employee.Email</span>
                        </td>
                        <td>
                            <span>@Employee.Firstname</span>
                            <span>@Employee.Lastname</span>
                        </td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a asp-area="" asp-page="/Secured/Employees/Delete" asp-route-id="@Employee.Id" class="text-white btn px-4 btn-sm btn-danger">delete</a>
                                <a asp-area="" asp-page="/Secured/Employees/Update" asp-route-id="@Employee.Id" class="text-white btn px-4 btn-sm btn-info">edit</a>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>